altgraph==0.17.4
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==72.1.0
six==1.16.0
tzdata==2023.3
urllib3==2.0.3
